{% extends 'base.html' %}
{% block content %}
  <h2>Statistics for {{ link.code }}</h2>
  <dl class="row">
    <dt class="col-sm-3">Original URL</dt>
    <dd class="col-sm-9"><a href="{{ link.original_url }}" target="_blank">{{ link.original_url }}</a></dd>

    <dt class="col-sm-3">Created At</dt>
    <dd class="col-sm-9">{{ link.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</dd>

    <dt class="col-sm-3">Total Clicks</dt>
    <dd class="col-sm-9">{{ link.click_count }}</dd>

    <dt class="col-sm-3">Last Accessed</dt>
    <dd class="col-sm-9">
      {% if link.last_accessed %}
        {{ link.last_accessed.strftime('%Y-%m-%d %H:%M:%S') }}
      {% else %}
        Never
      {% endif %}
    </dd>
  </dl>
{% endblock %}
